# Docker ignore file

.env
.env.local
.env.production
.git
.gitignore
.vscode
.idea
**pycache**
_.pyc
_.pyo
_.pyd
.Python
_.so
_.egg
_.egg-info
dist
build
logs/_.log
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache
README.md
docker-compose_.yml
Dockerfile\*
.dockerignore
tests/
