services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: oh-my-match-api-dev
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
      - ./logs:/app/logs
    env_file:
      - .env
    environment:
      - ENVIRONMENT=development
      - DEBUG=True
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
